body {
    margin: 100px;
 width: 300px;
background-image: url("black-theme-cs17.jpg");
}

* {
  box-sizing: border-box;

}

ul {
  margin: 0;
  padding: 0;
  
  
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border-radius: 18%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
    background-image: linear-gradient(to left top, #eb5c0b, #b44513, #803114, #4d1f0f, #210c01);
  color:red;
}

.header {
  /* background-image: linear-gradient(to left top, #077a17, #046214, #034b11, #04350c, #042101); */
 background-image: url(./assets/backimg2.png);
background-size: 100%;
background-repeat: no-repeat;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 5%;

}

.header:after {
  content: "";
  display: table;
  clear: both;

}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
 border-radius: 4%;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  background-color:rgb(121, 98, 98);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin-left: 180px;
  margin-top: -38px;
  transition: all;

}
.sortBtn {
position: absolute;
margin-top:-130px;
text-align: right;
margin-left: 280px;
border: none;
background-color:rgb(121, 98, 98);
border-radius:5%;

width: 3%;
border:none ;
padding-top: 1px;
padding-left: 1px;
height: 16px;

  }
  .sortBtn:hover {
    /* background-color: rgb(207, 158, 33); */
    background-image: linear-gradient(to left top, #eb5c0b, #b44513, #803114, #4d1f0f, #210c01);
    }
.addBtn:hover {
/* background-color: rgb(207, 158, 33); */
background-image: linear-gradient(to left top, #eb5c0b, #b44513, #803114, #4d1f0f, #210c01);
}

h2{

    background-color: #4d1f0f;
}

body
{

    background-color: white;
}
div
{
    background-color: red;
}